[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]] 
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages] 
streamlit = "*"
tensorflow = "*"
numpy = "*"
PIL = "*"
time = "*"
Image = "*"
predict = "*"

[dev-packages]
pylint = "*"
wheel = "*"

[requires] # Here goes your required Python version.
python_version = "3.6"